{% if is_granted('ROLE_COLABORADOR') or is_granted('ROLE_JEFE_INMOBILIARIA') or is_granted('ROLE_JEFE_OFICINA') or is_granted('ROLE_RESPONSABLE_ZONA') %}
	{% set crearnuevo = path('colaborador_agregar_cliente') %}
{% else %}
	{% set crearnuevo = path('agregar_modificar_cliente') %}
{% endif %}
{% set crearnuevo_texto = 'Crear nuevo' %}
{% extends '@App/Backoffice/base.html.twig' %}
{% block devstyles %}
	{{ parent() }}
	<link href="{{ asset('assets/node_modules/datatables/media/css/dataTables.bootstrap4.css') }}" rel="stylesheet">
{% endblock %}
{% block cloudstyles %}
	{{ parent() }}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}
{% block devscripts %}
	{{ parent() }}
	<script src="{{ asset('assets/node_modules/datatables/datatables.min.js') }}"></script>
{% endblock %}
{% block cloudscripts %}
	{{ parent() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js"></script>
{% endblock %}
{% block customscripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/custom/RegExp.escape.min.js') }}"></script>
	<script src="{{ asset('assets/js/custom/borrar-entidades.min.js') }}"></script>
	{% if is_granted('ROLE_COLABORADOR') or is_granted('ROLE_JEFE_INMOBILIARIA') or is_granted('ROLE_JEFE_OFICINA') or is_granted('ROLE_RESPONSABLE_ZONA') %}
		<script src="{{ asset('assets/js/custom/tabla-usuarios.min.js') }}"></script>
	{% else %}
		<script src="{{ asset('assets/js/custom/lista-clientes-datatable.min.js') }}"></script>
		{#<script src="{{ asset('assets/js/custom/tabla-usuarios-boton-borrar.min.js') }}"></script>#}
		<script src="{{ asset('assets/js/custom/lista-clientes.min.js') }}"></script>
	{% endif %}
{% endblock %}
{% block body %}
	<div class="card">
		<div class="card-body">
			{% include '@App/Backoffice/MensajeAlerta.html.twig' %}
			<h4 class="card-title">{{ titulo }}</h4>
			{% if clientes is defined %}
				{% if clientes is empty %}
					<div class="alert alert-info" role="alert">
						<span>No hay clientes.</span>
					</div>
				{% else %}
					<div class="form-row" data-buscar>
						<div class="form-group col-md text-right">
							<div class="d-none">
								<label for="estado">Buscar estado</label>
								<select class="form-control" id="estado" multiple>
									<option value="0">No</option>
									<option selected value="1">Si</option>
								</select>
							</div>
							<div class="btn-group btn-group-toggle align-items-center h-100" data-id="estado" data-toggle="buttons">
								<label class="btn btn-success">
									<input name="estado" type="radio" value="0">
									<span>Cancelados</span>
								</label>
								<label class="btn btn-success active">
									<input checked name="estado" type="radio" value="1">
									<span>Activos</span>
								</label>
							</div>
						</div>
					</div>
					<form class="text-truncate mb-3" id="formulario-borrar-entidades" method="post">
						<table class="table table-striped table-sm full-color-table full-success-table hover-table" id="tabla-entidades">
							<thead>
							<tr>
								{% if not is_granted('ROLE_COLABORADOR') and not is_granted('ROLE_JEFE_INMOBILIARIA') and not is_granted('ROLE_JEFE_OFICINA') and not is_granted('ROLE_RESPONSABLE_ZONA') %}
									<th scope="col">
										<div class="custom-control custom-checkbox">
											<input class="custom-control-input" id="seleccionar-todas-entidades" type="checkbox">
											<label class="custom-control-label" for="seleccionar-todas-entidades"></label>
										</div>
									</th>
								{% endif %}
								<th scope="col">Creación</th>
								<th scope="col">Apellidos</th>
								<th scope="col">Nombre</th>
								<th scope="col">DNI</th>
								<th scope="col">Móvil</th>
								<th scope="col">E-Mail</th>
								<th scope="col">Inmobiliaria</th>
								<th data-nombre-columna="estado" scope="col">Activo</th>
								{# <th scope="col">Caducidad</th> #}
								{% if not is_granted('ROLE_COLABORADOR') and not is_granted('ROLE_JEFE_INMOBILIARIA') and not is_granted('ROLE_JEFE_OFICINA') and not is_granted('ROLE_RESPONSABLE_ZONA') %}
									<th scope="col">Acciones</th>
								{% endif %}
							</tr>
							</thead>
							<tbody>
							{% for cliente in clientes %}
								<tr>
									{% if not is_granted('ROLE_COLABORADOR') and not is_granted('ROLE_JEFE_INMOBILIARIA') and not is_granted('ROLE_JEFE_OFICINA') and not is_granted('ROLE_RESPONSABLE_ZONA') %}
										<td>
											<div class="custom-control custom-checkbox">
												<input class="custom-control-input" id="entidad[{{ cliente.idUsuario }}]" name="cliente[]" type="checkbox" value="{{ cliente.idUsuario }}">
												<label class="custom-control-label" for="entidad[{{ cliente.idUsuario }}]"></label>
											</div>
										</td>
									{% endif %}
									<td data-order="{{ cliente.fechaRegistro|date('U') }}">{{ cliente.fechaRegistro|date('d/m/Y') }}</td>
									<td>{{ cliente.apellidos }}</td>
									<td>{{ cliente.username }}</td>
									<td>{{ cliente.nif }}</td>
									<td>{{ cliente.telefonoMovil }}</td>
									<td>{{ cliente.email }}</td>
									<td>{{ cliente.idInmobiliaria }}</td>
									{% if cliente.estado %}
										<td>Si</td>
									{% else %}
										<td>No</td>
									{% endif %}
									{# {% if cliente.fechaCaducidad is null %}
										<td></td>
									{% else %}
										<td data-order="{{ cliente.fechaCaducidad|date('U') }}">{{ cliente.fechaCaducidad|date('d/m/Y') }}</td>
									{% endif %} #}
									{% if not is_granted('ROLE_COLABORADOR') and not is_granted('ROLE_JEFE_INMOBILIARIA') and not is_granted('ROLE_JEFE_OFICINA') and not is_granted('ROLE_RESPONSABLE_ZONA') %}
										<td>
											<a href="{{ path('agregar_modificar_cliente',{'id':cliente.idUsuario}) }}">
												<i class="far fa-edit"></i>
												<span> Editar</span>
											</a>
										</td>
									{% endif %}
								</tr>
							{% endfor %}
							</tbody>
						</table>
						{% if not is_granted('ROLE_COLABORADOR') and not is_granted('ROLE_JEFE_INMOBILIARIA') and not is_granted('ROLE_JEFE_OFICINA') and not is_granted('ROLE_RESPONSABLE_ZONA') %}
							<div>
								<button class="btn btn-success waves-effect" id="boton-borrar-entidades">Borrar marcados</button>
							</div>
						{% endif %}
					</form>
				{% endif %}
			{% endif %}
			<a class="btn btn-success waves-effect" href="{{ path('inicio') }}">Volver</a>
		</div>
	</div>
{% endblock %}
{% block modals %}
	{{ parent() }}
	{% include '@App/Backoffice/Modal/ConfirmarBorrar.html' %}
{% endblock %}