<div class="right-sidebar">
	<div class="slimscrollright">
		<div class="rpanel-title">
			<div class="d-inline">Service Panel</div>
			<span>
				<i class="ti-close right-side-toggle"></i>
			</span>
		</div>
		<div class="r-panel-body">
			<ul class="m-t-20" id="themecolors">
				<li>
					<b>With Light sidebar</b>
				</li>
				<li>
					<a class="default-theme" data-skin="skin-default" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="green-theme" data-skin="skin-green" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="red-theme" data-skin="skin-red" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="blue-theme" data-skin="skin-blue" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="purple-theme" data-skin="skin-purple" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="megna-theme" data-skin="skin-megna" href="javascript:void(0)"></a>
				</li>
				<li class="d-block m-t-30">
					<b>With Dark sidebar</b>
				</li>
				<li>
					<a class="default-dark-theme" data-skin="skin-default-dark" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="green-dark-theme" data-skin="skin-green-dark" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="red-dark-theme" data-skin="skin-red-dark" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="blue-dark-theme" data-skin="skin-blue-dark" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="purple-dark-theme" data-skin="skin-purple-dark" href="javascript:void(0)"></a>
				</li>
				<li>
					<a class="megna-dark-theme" data-skin="skin-megna-dark" href="javascript:void(0)"></a>
				</li>
			</ul>
			<ul class="m-t-20 chatonline">
				<li>
					<b>Chat option</b>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/1.jpg') }}">
						<span>
							<span>Varun Dhavan</span>
							<small class="text-success">online</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/2.jpg') }}">
						<span>
							<span>Genelia Deshmukh</span>
							<small class="text-warning">Away</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/3.jpg') }}">
						<span>
							<span>Ritesh Deshmukh</span>
							<small class="text-danger">Busy</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/4.jpg') }}">
						<span>
							<span>Arijit Sinh</span>
							<small class="text-muted">Offline</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/5.jpg') }}">
						<span>
							<span>Govinda Star</span>
							<small class="text-success">online</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/6.jpg') }}">
						<span>
							<span>John Abraham</span>
							<small class="text-success">online</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/7.jpg') }}">
						<span>
							<span>Hritik Roshan</span>
							<small class="text-success">online</small>
						</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0)">
						<img alt="user-img" class="img-circle" src="{{ asset('assets/images/users/8.jpg') }}">
						<span>
							<span>Pwandeep rajan</span>
							<small class="text-success">online</small>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
